<!DOCTYPE html>
<head>
<title>Secure Messages JLH</title>
</head>
<body>
<h1>Inbox</h1>
<p>{{ user }}, this is the complete list of your messages.</p>
<hr />
<div>
<h2>Messages</h2>
{% if not inbox_messages %}
You have 0 messages!
{% else %}
<table>
<thead><td>From</td><td>Message</td></thead>
<tbody>
{% for message in inbox_messages %}
    <tr><td>{{message.from_user}}</td><td>{{ message.decrypt_msg }}</td></tr>
{% endfor %}
</tbody>
</table>
{% endif %}
</div>
<hr />
<div>
<a href="/send_messages/">Send a Message</a>
</div>

<div>
<a href="/accounts/logout/">Log Out</a>
</div>
</body>
