<!DOCTYPE html>
<head>
<title>Secure Messages JLH</title>
</head>
<body>
<h1>Message to send</h1>
<p>Hello {{ user }}, write your message in the box, choose the destination user and click on Send.</p>
<hr />
<div>
<form action="/send_messages/" method="post">
    {% csrf_token %}
    {{ new_message_form }}
    <input type="submit" value="Send">
</form>
</div>
<hr />
<div>
<a href="/inbox/">Read your Messages</a>
</div>

<div>
<a href="/accounts/logout/">Log Out</a>
</div>

</body>
